@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 56px 80px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #395973;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
header nav{
    display: flex;
    gap: 48px;
    align-items: center;
}
header nav a{
    color: #717339;
    text-decoration: none;
    font-weight: medium;
    font-size: 18px;
}
header button, .hero-product-description button{
 background: #395973;
 color: white;
 width: 99px;
 height: 52px;
 border-radius: 8px;
 cursor: pointer;
 border: none;
 font-size: 16px;
 font-weight: 500;

}
.hero-product{
    margin: 56px 0px 80px;
    display: flex;
    justify-content: space-between;
}
.hero-imadge{
    width: 600px;
}
.hero-product-description{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 515px;
}
h1{
    font-size: 40px;
    font-weight: 600;
    color: #395973;
    line-height: 110%;
}
.hero-product-description h2, .footer-info h2, .hero-product-description-price{
    font-size: 24px;
    line-height: 150%;
}
.hero-product-description h2{
    color: #717339;
}
.hero-product-about{
    font-size: 18px;
    font-weight: 300;
    line-height: 110%;
    text-align: justify;
}
.hero-product-additional-details{
    color: #717339;
    font-size: 18;
    font-weight: 600;
}
.hero-product-description button{
    width: unset;
}
.card-imadge{
    width: 400px;
}
.products h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: #395973;

}
.product-cards{
    margin: 24px 0px 120px;
    display: flex;
    gap: 32px;
}
.product-card{
    flex: auto;
}
.product-card figcaption{
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}
.product-card-about{
    font-weight: 300;
    font-size: 18px;
}
footer{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #717339;
    padding-top: 48px;
}
.footer-links{
    display: flex;
    gap: 32px;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 187px;
}
.footer-links-list a, .footer-links h3{
    font-weight: 500;
    line-height: 150%;
    color: #454545;
    text-decoration: none;
}
.footer-links h3{
    color: black;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cocial-media{
    display: flex;
    align-items: center;
    gap: 24px;
}
.social-media img:hover{
    filter: brightness(60%);
}